@keyframes moverFondo{
    0% { 
        background-position : 0% 50% ;
    }
    100%{
        background-position: 100% 50%;
    }
}

body{
    background-image: url("fondo.jpg");
    background-size: 110%;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    animation: moverFondo 10s linear infinite;
}


img{
    border-radius: 20px;
    background: #ff98f648;
    display: flex;
    justify-content: left;
    width: 300px;
    height:70px;
}

.btns{
    width:200px;
    height: 120px;
    display: flex;
    align-items: column;
    color: rgb(208, 208, 208);
    background: #393939ca;
    border-radius: 10px;
    border: 0px solid #101010;
    box-shadow:  0 0 30px hsl(0, 0%, 19%);
}

.info{
    display: flex;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    left: 34%;
    width: 400px;
    height: 380px;
    max-height: 380px;
    overflow-y: auto;
    scrollbar-width: none;
    color: rgb(208, 208, 208);
    background: #393939ca;
    border-radius: 10px;
    border: 0px solid #101010;
    box-shadow:  0 0 30px hsl(0, 0%, 19%);
}

button{
    font-size: 17px;
    background: #00000000;
    width: 200px;
    color: rgb(199, 199, 199);
    height: 40px;
    border: none;
}

.forms{
    margin-top: 40px;
    display: flex;
    position: relative;
}

button:hover{
    cursor: pointer;
    background: #ffffff4f;
    transform: scale(1.01);
    transition: 0.5s;
}

.info img{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 20px;}

.info2 button{
    text-align: left;
    font-size: 17px;
    background: #00000000;
    width: 300px;
    color: rgb(199, 199, 199);
    height: 40px;
    border: none;
}

.info:hover{ 
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.7s;

}

.info2:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.7s;
}

.info2 button:hover{
    cursor: pointer;
    background: #ffffff4f;
    transform: scale(1.01);
    transition: 0.9s;
    }

.info2{
    display: flex;
    position: absolute;
    left: 37%;
    font-size: 25px;
    padding: 20px;
    width: 300px;
    height: 390px;
    max-height: 380px;
    overflow-y: auto;
    scrollbar-width: none;
    color: rgb(208, 208, 208);
    background: #393939ca;
    border-radius: 10px;
    border: 0px solid #101010;
    box-shadow:  0 0 30px hsl(0, 0%, 19%);
}

.buscador{
    display: flex;
    position: relative;
}

.buscador input{
    display: flex;
    position: absolute;
    left: 33.6%;
    color: rgba(255, 255, 255, 0.726);
    margin-top: 18px;
    width: 415px;
    height: 40px;
    border-radius: 15px;
    padding-left: 10px;
    background: #393939ca;
    font-size: 15px;
}

input:hover{
    cursor: pointer;
    background: #0505055d;
    transform: scale(1.01);
    transition: 0.3s;
    
}

input::placeholder{
    color: #ffffffb4;
}

.contacto img{
    margin-top: 0;
    display: inline-block;
    width: 50px;
    height: auto;
}

.contacto form{
    display: flex;  
    gap: 8px;
    position: absolute;
    top: 92%;
}

.contacto img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.7s;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 101%;      
    top: 0;
    flex-direction: column;
    background: #393939ca;
    border-radius: 10px;
    box-shadow: 0 0 30px hsl(0, 0%, 19%);
    white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
    display: flex; 
}

.dropdown-menu button {
    width: 150px;
}
